# Auto detect text files and perform LF normalization
* text=auto

# Web
*.htm text diff=html
*.html text diff=html
*.css text diff=css
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text diff=markdown
*.svg text
*.xml text

# Binaries
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary
